body{
    background-color : #E5E8E8;
    font-family: arial;
    max-width: 100%;
    margin: auto;
}
.navbar{
    height: 50px;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    padding: 14px 10px
}
.navbar ul{
    padding: 10px
    margin-top: 0px;
    margin-right: 10%;
    float: right;
}
.navbar li{
    list-style: none;
    display: inline;
}
.navbar li a{
    color:black;
    font-weight: bold;
}
.navbar li a:hover{
    color:#7F8C8D;
}
.header{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profil{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left:50px;
}
.button {
    background-color: #ff6262;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button:hover{
    background-color: #ec3420;
  }
  .body-post{
    background-color :#d2d7d7;
    padding-top:10px;  
    
  }
  .judul{
    display: flex;
    justify-content: center;
     width: 50%;
  }
  .post{
    width: 100%;
    height : 300px;
    background-color :#d2d7d7;
    display: flex;
    justify-content: center;
    padding-top : 10px;
    //align-items: center; 
  }
  .satu{
   width: 30%;
   height: 50px;
    margin-right : 10px;
    float : left;
  }
  .satu-c{
    background-color : #E5E8E8;
    padding : 10px;
    margin-top : 25px;
  }
  .dua{
    width : 30%;
    height : 50px;
    float : left;
  }
  .dua-c{
    background-color : #E5E8E8;
    padding : 10px;
    margin-top : 25px;
  }
  .feature{
    width: 100%;
    height : 500px;
    background: linear-gradient(189deg, rgba(242,240,240,1) 35%, rgba(210,215,215,1) 100%);
    display: flex;
    justify-content: center;
    padding-top : 10px;
    margin-bottom :10px;
  }

  .feature-c{
    margin-top : 35px;
  }
  
  .feature-satu{
    width: 60%;
    height: 50px;
     margin-right : 10px;
     float : left;
   }   
.fetaure-img{
  width:120px;
  height:120px;
  float : left;
  margin-right :10px;
}
.ri1-f{
  background-color:black;
  color:white;
  padding: 3px 7px 3px 7px;  
  border-radius: 50%;
}
.ri2-f{
  color : #96a0a0;
}

.footer{
  height: 50px; 
  display: flex;
  justify-content: center;
  padding-top : 10px;
  margin-bottom :10px;
  padding: 10px;
 }   
 .footer img{
   margin-right : 5px;
   width:40px;
   height :40px;
 }

.copy{
  height:50px;
}