body{
    background-color : #E5E8E8;
    font-family: arial;
    max-width: 100%;
    margin: auto;
}
.navbar{
    height: 50px;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    padding: 14px 10px
}
.navbar ul{
    padding: 10px
    margin-top: 0px;
    margin-right: 10%;
    float: right;
}
.navbar li{
    list-style: none;
    display: inline;
}
.navbar li a{
    color:black;
    font-weight: bold;
}
.navbar li a:hover{
    color:#7F8C8D;
}
.header{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profil{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin-left:50px;
}
.button {
    background-color: #ff6262;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button:hover{
    background-color: #ec3420;
  }
  .post{
    width: 100%;
    height : 300px;
    background-color :#d2d7d7;
    display: flex;
    //justify-content: center;
    //align-items: center; 
  }
  .satu{
    background-color : #E5E8E8;
    width: 25%;
    height: 50px;
    float : left;
  }
  .dua{
    background-color : #E5E8E8;
    width : 25%;
    height : 50px;
    float : left;
  }

/*   
  .card {
    background-color:#E5E8E8;
    width : 25%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    float:left;
  }
  .body-card{
      margin-left: 20%;
  }
  .jp{
    margin-left: 20%;
  }
  .jp2{
    //float:right;
    //margin-right: 30%;
    margin-left: 20%;
  } */